

.contenedor{
    width: 500px;
    height: 30px;
    background-color: darkgray;
    border-radius: 100px;
    margin: 20px;
    
}

.barra{
    width: 50px;
    height: 30px;
    background-color: blue;
    border-radius: 100px;
}

.contenedor2{
    width: 500px;
    height: 30px;
    background-color: darkgray;
    border-radius: 100px;
    margin: 20px
    
    
}

.barra2{
    width: 125px;
    height: 30px;
    background-color: blue;
    border-radius: 100px;
    
}

.contenedor3{
    width: 500px;
    height: 30px;
    background-color: darkgray;
    border-radius: 100px;
    margin: 20px
    
    
}

.barra3{
    width: 250px;
    height: 30px;
    background-color: blue;
    border-radius: 100px;
    
}

.contenedor4{
    width: 500px;
    height: 30px;
    background-color: darkgray;
    border-radius: 100px;
    margin: 20px
    
    
}

.barra4{
    width: 375px;
    height: 30px;
    background-color: blue;
    border-radius: 100px;
    
}

.contenedor5{
    width: 500px;
    height: 30px;
    background-color: darkgray;
    border-radius: 100px;
    margin: 20px
    
    
    
}

.barra5{
    width: 450px;
    height: 30px;
    background-color: blue;
    border-radius: 100px;
    
}

p{
    
    padding: 6px;
    text-align: center;
    color: whitesmoke;
    
}



